/* ========== Navigation Style ========== */

/* Menu Colours are in Global Style.css at .nav-menu li.nav-about a and .nav-menu li.nav-about a:hover or on top */

/* Hamburger Menu Button */
.hamburger-menu {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  color: darkgray;
}

/* Default Navigation Menu */
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

/* Hover Effect */
.nav-menu li a {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  background-color: transparent;
}

/* Line left */
.nav-menu li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 0;
  background-color: currentColor;
  transition: height 0.3s ease;
}

/* Line right delayed */
.nav-menu li a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 0;
  background-color: currentColor;
  transition: height 0.3s ease;
  transition-delay: 0.3s;
}

/* Hover-Effekt */
.nav-menu li a:hover::before,
.nav-menu li a:hover::after {
  height: 100%;
}

/* Responsive Navigation - Mobile View */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--nav-background);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    transition: left 0.3s ease-in-out;
  }

  .nav-menu.open {
    left: 0;
    display: flex;
    animation: slideIn 0.3s ease-out;
  }

  .nav-menu.closing {
    animation: slideOut 0.3s ease-in forwards;
  }

  .nav-menu li {
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
  }

  .nav-menu li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Responsive Navigation - Desktop View */
@media (min-width: 769px) {
  .nav-menu li {
    margin: 0 15px;
  }
}

/* Slide-in Effect */
@keyframes slideIn {
  from {
    left: -250px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

/* Slide-out Effect */
@keyframes slideOut {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: -250px;
    opacity: 0;
  }
}